Importing the Dataset - Airline Satisfaction
This dataset contains an airline passenger satisfaction survey. What factors are highly correlated to a satisfied (or dissatisfied) passenger? Can you predict passenger satisfaction?

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
train_data=pd.read_csv("/content/drive/MyDrive/Arline /train.csv",index_col=0)
train_data.shape

(5, 17)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
train_data.head()

,Age,Type of Travel,Class,Flight Distance,Departure/Arrival time convenient,Gate location,Online boarding,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,PCA1,PCA2,PCA3,Unnamed: 16,Unnamed: 17
Customer Type,,,,,,,,,,,,,,,,,
1.0,0.965187,1,2,-0.969622608,-0.035559408,0.020673,0.552022904,1.255174141,1.251334128,1.158116927,0.546558187,1.151835808,-0.265705,-2.16476148,0.028482302,NaN,NaN
1.0,0.630000,-,-,(0.18),(1.34),0.020000,(0.93),(0.30),(1.03),(1.38),(1.03),(1.40),0.770000,0.49,(0.55),NaN,NaN
1.0,1.100000,1.00,2.00,0.48,(2.00),0.800000,1.29,(0.30),(0.27),(0.54),(0.24),(0.55),2.840000,(0.65),2.45,NaN,NaN
1.0,1.031378,1,2,-0.42977418,0.618265524,-0.760988,0.552022904,0.478101747,0.491191351,0.310808972,0.546558187,0.301603872,0.770892,-1.36653478,-0.552513004,NaN,NaN
1.0,0.501852,1,2,-0.677622808,0.618265524,0.802334,0.552022904,1.255174141,1.251334128,1.158116927,0.546558187,1.151835808,-0.292883,-1.401173759,-0.552513004,NaN,NaN

In [6]:
train_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,5.0,0.845683,0.263714,0.501852,0.630000,0.965187,1.031378,1.100000
Gate location,5.0,0.176404,0.653467,-0.760988,0.020000,0.020673,0.800000,0.802334
PCA1,5.0,0.764461,1.273495,-0.292883,-0.265705,0.770000,0.770892,2.840000
Unnamed: 16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 17,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 5 entries, 1.0 to 1.0
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                5 non-null      float64
 1   Type of Travel                     5 non-null      object
 2   Class                              5 non-null      object
 3   Flight Distance                    5 non-null      object
 4   Departure/Arrival time convenient  5 non-null      object
 5   Gate location                      5 non-null      float64
 6   Online boarding                    5 non-null      object
 7   On-board service                   5 non-null      object
 8   Leg room service                   5 non-null      object
 9   Baggage handling                   5 non-null      object
 10  Checkin service                    5 non-null      object
 11  Inflight service                   5 non-null      object
 12  PCA1                               5 non-null      float64
 13  PCA2                               5 non-null      object
 14  PCA3                               5 non-null      object
 15  Unnamed: 16                        0 non-null      float64
 16  Unnamed: 17                        0 non-null      float64
dtypes: float64(5), object(12)
memory usage: 720.0+ bytes

In [8]:
train_data.isnull().sum()

Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Departure/Arrival time convenient    0
Gate location                        0
Online boarding                      0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
PCA1                                 0
PCA2                                 0
PCA3                                 0
Unnamed: 16                          5
Unnamed: 17                          5
dtype: int64

In [9]:
train_data.nunique()

Age                                  5
Type of Travel                       3
Class                                3
Flight Distance                      5
Departure/Arrival time convenient    4
Gate location                        5
Online boarding                      3
On-board service                     3
Leg room service                     4
Baggage handling                     4
Checkin service                      3
Inflight service                     4
PCA1                                 5
PCA2                                 5
PCA3                                 4
Unnamed: 16                          0
Unnamed: 17                          0
dtype: int64

Data Pre-processing

In [11]:
numerical_cols = [col for col in train_data.columns if train_data[col].dtypes in ['int64','float64']]
numerical_cols

['Age', 'Gate location', 'PCA1', 'Unnamed: 16', 'Unnamed: 17']

In [ ]:
train_data[numerical_cols].describe()

In [ ]:
#Correlation Heatmap
plt.figure(figsize=(16,10))
sns.heatmap(train_data[numerical_cols].corr(), annot=True)
plt.show()

In [ ]:
#Inflight wifi service with Ease of Online booking had a correlation of 0.72
for col in ['Inflight wifi service', 'Ease of Online booking']:
    sns.catplot(x=col, y='satisfaction', data=train_data, kind='point', aspect=2, )
    plt.ylim(0, 1)

In [ ]:
#Categorical Columns
categorical_cols = [col for col in train_data.columns if train_data[col].dtypes in ['object']]
#categorical_cols.append('satisfaction')  #Adding the satisfaction(target) column for EDA
categorical_cols

In [ ]:
for c in categorical_cols:
    print(c)
    print(train_data[c].unique())

In [ ]:
train_data["satisfaction"]=train_data["satisfaction"].map({"neutral or dissatisfied":0,"satisfied":1})

In [ ]:
#Categorical plots for categorical features
for col in categorical_cols:
    sns.catplot(x=col, y='satisfaction', data=train_data, kind='point', aspect=2, )
    plt.ylim(0, 1)  #Ylim makes the y axis Min->0 and Max->1

In [ ]:
train_data.isnull().sum()

In [ ]:
#Filling the missing values in attribute - Arrival Delay in Minutes- with the mode
value=train_data["Arrival Delay in Minutes"].mode()[0]
train_data["Arrival Delay in Minutes"].fillna(value,inplace=True)

In [ ]:
#Scaling the data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
train_data[numerical_cols] = sc.fit_transform(train_data[numerical_cols])
train_data.head(3)

Performing one-Hot encoding

In [ ]:
train_data["Gender"]=train_data["Gender"].map({"Male":0,"Female":1})
train_data["Customer Type"]=train_data["Customer Type"].map({"disloyal Customer":0,"Loyal Customer":1})
train_data["Type of Travel"]=train_data["Type of Travel"].map({"Personal Travel":0,"Business travel":1})
train_data["Class"]=train_data["Class"].map({"Eco":0,"Eco Plus":1,"Business":2})

In [ ]:
X_train=train_data.drop("satisfaction",axis=1)
y_train=train_data["satisfaction"]

In [ ]:
X_train.head()

Using Mutual info classifier to identify idenpendent and dependent variables

In [ ]:
from sklearn.feature_selection import mutual_info_classif
plt.figure(figsize=(12,8))
pd.Series(mutual_info_classif(X_train,y_train),index=X_train.columns).sort_values(ascending=False).plot(kind="barh")

Feature Selection - Based on result of scaling

In [ ]:
series=pd.Series(mutual_info_classif(X_train,y_train),index=X_train.columns).sort_values()
feature_selection=series[series>0.05].index

In [ ]:
feature_selection

Index(['Ease of Online booking', 'Cleanliness', 'On-board service',
       'Flight Distance', 'Leg room service', 'Seat comfort',
       'Inflight entertainment', 'Type of Travel', 'Class',
       'Inflight wifi service', 'Online boarding'],
      dtype='object')

We now end up with 11 Features which we will use to build our model

In [ ]:
X_train=X_train[feature_selection]

In [ ]:
X_train.shape

**Machine Learning - Neural Network**

In [ ]:
# Use scikit-learn to grid search the number of neurons
import numpy
from sklearn.model_selection import GridSearchCV
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.wrappers.scikit_learn import KerasClassifier
from keras.constraints import maxnorm

In [ ]:
# Function to create model, required for KerasClassifier
def create_model1(activation='relu', neurons=128):
	# create model
	model = Sequential()
	model.add(Dense(units=neurons, input_dim=8, kernel_initializer='uniform', activation=activation, kernel_constraint=maxnorm(4)))
	model.add(Dropout(0.2))
	model.add(Dense(1, kernel_initializer='uniform', activation='sigmoid'))
	# Compile model
	model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
	return model

In [ ]:
# fix random seed for reproducibility
seed = 7
numpy.random.seed(seed)
# load dataset
dataset = numpy.loadtxt("pima-indians-diabetes.csv", delimiter=",")
# split into input (X) and output (Y) variables
X = dataset[:,0:8]
Y = dataset[:,8]
# create model
model = KerasClassifier(build_fn=create_model1, epochs=100, batch_size=10, verbose=0)
# define the grid search parameters
activation = ['relu', 'tanh']
neurons = [128, 256]
param_grid = {'neurons':neurons, 'activation':activation}
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X, Y)
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

In [ ]:
# Function to create model, required for KerasClassifier
def create_model2(activation='relu', neurons=(128, 64)):
	# create model
  model = Sequential()
  model.add(Dense(units=neurons[0], input_dim=8, kernel_initializer='uniform', activation=activation, kernel_constraint=maxnorm(4)))
  model.add(Dropout(0.2))
  model.add(Dense(units=neurons[1], kernel_initializer='uniform', activation=activation, kernel_constraint=maxnorm(4)))
  model.add(Dropout(0.2))
  model.add(Dense(1, kernel_initializer='uniform', activation='sigmoid'))
	# Compile model
  model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
  return model

In [ ]:
# fix random seed for reproducibility
seed = 7
numpy.random.seed(seed)
# load dataset
dataset = numpy.loadtxt("pima-indians-diabetes.csv", delimiter=",")
# split into input (X) and output (Y) variables
X = dataset[:,0:8]
Y = dataset[:,8]
# create model
model = KerasClassifier(build_fn=create_model2, epochs=100, batch_size=10, verbose=0)
# define the grid search parameters
activation = ['relu', 'tanh']
neurons = [(128, 64), (256, 128)]
param_grid = {'neurons':neurons, 'activation':activation}
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X, Y)
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Based on the best model above, modify the parameters for the below code
activation = 
neurons = 
(Already updated): cv = 10

In [ ]:
# fix random seed for reproducibility
seed = 7
numpy.random.seed(seed)
# load dataset
dataset = numpy.loadtxt("pima-indians-diabetes.csv", delimiter=",")
# split into input (X) and output (Y) variables
X = dataset[:,0:8]
Y = dataset[:,8]
# create model
model = KerasClassifier(build_fn=create_model2, epochs=100, batch_size=10, verbose=0)
# define the grid search parameters
activation = ['relu', 'tanh']
neurons = [(128, 64), (256, 128)]
param_grid = {'neurons':neurons, 'activation':activation}
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=10)
grid_result = grid.fit(X, Y)
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))